 <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapsePosts" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Profile</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapsePosts">
            <li>
              <a href="/userdash/profile/{{user.id}}">My Profile</a>
            </li>
            <li>
              <a href="/userdash/profile/edit/{{user.id}}">Edit Profile</a>
            </li>

          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapsePosts" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Posts</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapsePosts">
            <li>
              <a href="/userdash/posts/create">Create Post</a>
            </li>
            <li>
              <a href="/userdash/posts/myposts">My Posts</a>
            </li>

          </ul>
        </li>
         <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Categories">
          <a class="nav-link" href="/userdash/comments/mycomments" >
            <i class="fa fa-fw fa-gear"></i>
            <span class="nav-link-text">Comments</span>
          </a>
        </li>
      </ul>